@charset "utf-8";
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 14px;
    color: #505050;
    line-height: 1.7;
}
.container {
    margin: 0 auto;
    padding: 0 60px;
}
.oswald {
    font-family: 'Oswald';
}
.shippori {
    font-family: 'Shippori Mincho';
}
/* ヘッダー */
.header {
    width: 100%;
    padding-top: 30px;
    /* padding-bottom: 55px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.header .drawerBtn {
    display: block;
    width: 50px;
}
.header .drawerBtn div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header .drawerBtn div:last-child {
    margin-bottom: 0;
}
.header .drawerBtn div span {
    height: 10px;
    width: 10px;
    background-color: #E0E0E0;
}
.header nav {
    position: fixed;
    z-index: 100;
    top: 135px;
    left: 100vw;
    height: 768px;
    background-color: #fff;
    width: 100vw;
    transition: transform 0.5s;
}
.header .show {
    transform: translate3d(-100vw, 0, 0);
}
.header nav .menu li {
    padding: 30px 0;
    color: #303030;
    border-bottom: 1px solid #303030;
}
.header nav .menu li a {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header nav .menu li a img {
    height: 30px;
    transform: rotate(90deg);
}
.header nav .menu li a svg {
    transform: rotate(90deg);
    stroke: #303030;
}
.header nav .menu li a svg path {
    fill: #303030;
}
.header nav .menu li a:hover{
    color: #A1A1A1;
}
.header nav .menu li a:hover svg {
    stroke: #A1A1A1;
}
.header nav .menu li a:hover svg path {
    fill: #A1A1A1;
}
.header nav .sns {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}
.header nav .sns li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* ページヘッダー */
.pageHeader {
    height: 281px;
    position: relative;
    /* background-imageは各ページCSSへ */
}
.pageHeader h1 {
    font-family: 'Shippori Mincho';
    color: #505050;
    font-size: 72px;
    position: absolute;
    bottom: -72px;
    right: 0;
    line-height: 1.4;
}
.pageHeader h1 span {
    font-size: 18px;
    display: block;
    text-align: end;
}

/* パンくず */
.pankuzu {
    margin: 10px 0;
}

/* イントロ */
.intro .text {
    width: 440px;
    align-self: flex-end;
    border-left: 1px solid black;
    padding-left: 20px;
}
.intro .text .lead {
    margin-bottom: 50px;
}
.intro .text .lead b {
    font-size: 32px;
    font-weight: normal;
    font-family: 'Shippori Mincho';
}

/* フッター */
footer {
    background: url(images/footerBG.png) no-repeat left top/cover;
    height: 618px;
}
.footer {
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer nav {
    text-align: end;
}
.footer nav ul li {
    margin: 20px 0;
}
.footer nav ul li a {
    font-size: 20px;
    color: #E0E0E0;
    text-transform: uppercase;
    font-weight: bold;
}
.footer .others {
    position: relative;
}
.footer .others .sns {
    display: flex;
    margin: 20px 0 30px;
}
.footer .others .sns li {
    background-color: #E0E0E0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.footer .others .attension {
    color: #E0E0E0;
}
.footer .others > a img {
    position: absolute;
    right: 0;
    bottom: 0;
}