@charset "utf-8";

.pageHeader {
    background-image: url(images/hero.png);
}

.header nav .menu li:nth-child(3),
.header nav .menu li:nth-child(3) a:hover {
    color: #FB6868;
}
.header nav .menu li:nth-child(3) a svg,
.header nav .menu li:nth-child(3) a:hover svg {
    stroke: #FB6868;
}
.header nav .menu li:nth-child(3) a svg path,
.header nav .menu li:nth-child(3) a:hover svg path {
    fill: #FB6868;
}

/* イントロ */
.intro {
    margin: 100px 0 200px;
    padding-right: 160px;
}
.intro ul {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    justify-content: end;
    margin-bottom: 100px;
}
.intro .item1 {
    grid-column: 1/4;
    grid-row: 1/4;
}
.intro .item2 {
    grid-column: 4/6;
    grid-row: 1/3;
}
.intro .item3 {
    grid-column: 6/9;
    grid-row: 1/6;
}
.intro .item4 {
    grid-column: 1/4;
    grid-row: 4/6;
}
.intro .item5 {
    grid-column: 4/6;
    grid-row: 3/6;
}
.intro .item6 {
    grid-column: 1/3;
    grid-row: 6/9;
}
.intro .item7 {
    grid-column: 3/5;
    grid-row: 6/9;
}
.intro .item8 {
    grid-column-start: 5/9;
    grid-row: 6/8;
}
.intro .item9 {
    grid-column: 1/5;
    grid-row: 9/11;
}
.intro .item10 {
    grid-column: 5/9;
    grid-row: 8/11;
}

/* おすすめ料理 */
.pickup {
    position: relative;
    margin-bottom: 200px;
}
.pickup h2 {
    background-color: #fff;
    width: 320px;
    text-align: center;
    font-size: 32px;
    position: absolute;
    z-index: 50;
    top: -36px;
    left: calc(50% - 160px);
}
.pickup h2 span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}
.pickup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #303030;
    padding-top: 160px;
    padding-right: 77px;
    padding-bottom: 14px;
    padding-left: 38px;
}
.pickup ul li {
    margin-bottom: 70px;
    flex-basis: 348px;
}
.pickup ul li h3 {
    margin: 35px 0 10px;
}

/* 人気店 */
.restaurant {

    position: relative;
}
.restaurant h2 {
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: -36px;
    left: calc(50% - 100px);
    z-index: 50;
}
.restaurant h2 span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}
.restaurant > div {
    height: 516px;
    background-image: url(images/restaurant.png);
    padding-top: 50px;
}
.restaurant table {
    margin: 0 auto;
}
.restaurant table th, .restaurant table td {
    padding: 15px 0;
    font-weight: normal;
}
.restaurant table thead {
    border-bottom: 1px solid #000;
}
.restaurant table th:first-child {
    width: 450px;
}