@charset "utf-8";

.goConfirm, .goCredit {
    text-align: end;
    margin-top: 20px;
}

/* メディアクエリ */
@media screen and (max-width: 768px) {
    .registerCompleted {
        margin-bottom: 80px;
    }
    .message {
        padding: 20px 0;
        font-size: 12px;
    }
    .goConfirm, .goCredit {
        text-align: end;
        margin-top: 20px;
        font-size: 12px;
    }
}